{% extends "layouts/base.html" %}
{% block content %}
  <div class="full-viewport">
    {% include "partials/navigation.html" %}
    <header tabindex="-1" id="contentStart" class="center">
      <h1 class="heading-larger starting-element fg-light">{{ header.title | safe }}</h1>
      {% image header.image, header.imageAlt, "(max-width: 576px) 600px, (max-width: 768px) 800px, (max-width: 1200px) 1200px, 100vw", "header-image clipped-image" %}
    </header>
  </div>
  <main>
    <div class="center stack">
      {% for paragraph in firstSection %}
        <p>{{ paragraph | safe }}</p>
      {% endfor %}
      {% image firstImage, firstImageAlt, "(max-width: 576px) 600px, (max-width: 768px) 800px, (max-width: 1200px) 1200px, 1320px", "section-image clipped-image" %}
      {% for paragraph in secondSection %}
        <p>{{ paragraph | safe }}</p>
      {% endfor %}
      <p class="fg-primary heading-larger quote">{{ quote }}</p>
    </div>
    {% image secondImage, secondImageAlt, "(max-width: 576px) 600px, (max-width: 768px) 800px, (max-width: 1200px) 1200px, 100vw", "image-to-border clipped-image" %}
  </main>
{% endblock %}