{% set assetHash = global.random() %}
{% set critical_css %}
  {% include 'critical-css/reset.css' %}
  {% include 'critical-css/main.css' %}
  {% include 'critical-css/layout.css' %}
  {% include 'critical-css/utilities.css' %}
{% endset %}

<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ title }}</title>
    <!-- critical styles -->
    {% if global.environment == "production" %}
    <style>{{ critical_css | cssmin | safe }}</style>
    {% else %}
    <style>{{ critical_css | safe }}</style>
    {% endif %}
    <link rel="stylesheet" href="{{ '/fonts/fonts.css?' + assetHash | url }}">
    <link rel="stylesheet" href="{{ '/css/navigation.css?' + assetHash | url }}">
    <link rel="stylesheet" href="{{ '/css/footer.css?' + assetHash | url }}">
    {% if page.url === '/' %}
    <link rel="stylesheet" href="{{ '/css/home.css?' + assetHash | url }}">
    {% elif page.url === '/about/' %}
    <link rel="stylesheet" href="{{ '/css/about.css?' + assetHash | url }}">
    {% elif page.url === '/corsi/' %}
    <link rel="stylesheet" href="{{ '/css/corsi.css?' + assetHash | url }}">
    {% elif page.url === '/contatti/' %}
    <link rel="stylesheet" href="{{ '/css/contatti.css?' + assetHash | url }}">
    {% elif page.url === '/sede/' %}
    <link rel="stylesheet" href="{{ '/css/sede.css?' + assetHash | url }}">
    {% endif %}
  </head>
  <body>
    {% block content %}{% endblock %}
    {% include "partials/footer.html" %}
  </body>
</html>
