{% set assetHash = global.random() %}

<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ title }}</title>
    <!-- critical styles -->
    <style>{% include 'critical-css/reset.css' %}</style>
    <style>{% include 'critical-css/main.css' %}</style>
    <link rel="stylesheet" href="/fonts/fonts.css?{{ assetHash }}">
  </head>
  <body>
    {% block content %}{% endblock %}
    {% include "partials/footer.html" %}
  </body>
</html>
