{% extends "layouts/base.html" %}
{% block content %}
  {% include "partials/navigation.html" %}
  <header tabindex="-1" id="contentStart" class="corsi__header center stack">
    <h1 class="heading-larger starting-element fg-primary">{{ header.heading | safe }}</h1>
    <p>{{ header.firstText }}</p>
    <p>{{ header.secondText }}</p>
  </header>
  <main>
    <article class="courses-wrapper stack center padded">
      <h2 class="text-assistive">Lista corsi</h2>
      <ul class="courses-list cluster" data-justify="center" data-content="Dettagli">
        {% for course in corsi.list %}
        <li class="stack">
          <h3 class="heading text-centered">{{ course.title }}</h3>
          {% image course.image, course.imageAlt, "12rem", "clipped-image" %}
          <p>{{ course.description }}</p>
        </li>
        {% endfor %}
      </ul>
      <h3 class="body-text fg-primary">Modalità</h3>
      <ul class="formats-list stack">
        {% for format in formats %}
        <li class="center">
          <h4>{{ format.title }}</h4>
          <p>{{ format.description }}</p>
        </li>
        {% endfor %}
      </ul>
      <p class="explanation-text">{{ header.thirdText }}</p>
      <p class="contact-text fg-primary">
        <a href="{{ contact.link.url }}">{{ contact.link.text }}</a> {{ contact.text }}
      </p>
    </article>
  </main>
{% endblock %}