{% extends "layouts/base.html" %}
{% block content %}
  {% include "partials/navigation.html" %}
  <header tabindex="-1" id="contentStart" class="home__header center stack">
    <h1 class="heading-larger fg-primary">{{ header.heading }}</h1>
    <p class="pushed-down">{{ header.text }}</p>
    <a href="{{ header.button.url | url }}" class="link--button">{{ header.button.name }}</a>
    {% image header.image, header.imageAlt, "(max-width: 576px) 600px, (max-width: 768px) 800px, (max-width: 1200px) 1200px, 1320px", "clipped-image" %}
  </header>
  <main>
    <article class="center">
      <h2 class="text-assistive">Introduzione</h2>
      <div class="home__intro grid padded">
        <div class="stack">
          <p>{{ contentArticle.firstText }}</p>
          {% image contentArticle.firstImage, contentArticle.firstImageAlt, "20rem", "clipped-image", "object-position: 75% 50%;" %}
        </div>
        <div class="stack">
          <p>{{ contentArticle.secondText }}</p>
          {% image contentArticle.secondImage, contentArticle.secondImageAlt, "20rem", "clipped-image", "object-position: 0% 50%;" %}
        </div>
      </div>
    </article>
    <article class="courses-wrapper bg-gray padded">
      <div class="stack center">
        <h2 class="heading-larger">Corsi</h2>
        <ul class="courses-list cluster" data-justify="center">
          {% for course in corsi.list %}
          <li class="stack">
            <p class="heading text-centered">{{ course.title }}</p>
            {% image course.image, course.imageAlt, "12rem", "clipped-image" %}
          </li>
          {% endfor %}
        </ul>
        <a href="{{ coursesArticle.button.url | url }}" class="link--button center">{{ coursesArticle.button.name }}</a>
      </div>
    </article>
  </main>
{% endblock %}
