{% extends "layouts/base.html" %}
{% block content %}
  {% include "partials/navigation.html" %}
  <main tabindex="-1" id="contentStart" class="starting-element-smaller">
    <h1 class="text-assistive">{{ heading }}</h1>
    <article class="stack center padded">
      <p>{{ introText | safe }}</p>
      <ul class="locations-wrapper grid">
        {% for location in footer.locations %}
          <li class="stack">
            <p class="fg-primary heading-larger">in {{ location.place | replace(r/\s\d+/g, "") | replace("dei", "<br/>dei") | safe }}</p>
            {% image location.image, location.imageAlt, "(max-width: 576px) 600px, (max-width: 768px) 800px, (max-width: 1200px) 1200px, 1320px", "clipped-image", "object-position: right center;" if loop.first %}
          </li>
        {% endfor %}
      </ul>
    </article>
    <article class="well-wrapper center cluster padded" data-justify="spaced">
      <div class="stack">
        {% for paragraph in wellArticle.content %}
        <p>{{ paragraph }}</p>
        {% endfor %}
      </div>
      <figure class="stack">
        {% image wellArticle.image, wellArticle.imageAlt, "21rem" %}
        <figcaption>{{ wellArticle.caption }}</figcaption>
      </figure>
    </article>
    <article class="stack">
      <div class="quote-wrapper center">
        <p class="fg-primary heading-larger quote">{{ quoteArticle.content }}</p>
      </div>
      {% image quoteArticle.image, quoteArticle.imageAlt, "(max-width: 576px) 600px, (max-width: 768px) 800px, (max-width: 1200px) 1200px, 100vw", "image-to-border quote-image" %}
    </article>
  </main>
{% endblock %}