.home__header {
  min-height: calc(100vh - (var(--logo-width) * .8 + var(--s3) * 2 + var(--s4) + var(--s1)));
  padding-top: var(--s3);
  padding-bottom: var(--s4);
  background: linear-gradient(var(--color-light), rgba(255,255,255,0) 15%, rgba(255,255,255,0) 80%, var(--color-light)),
              linear-gradient(90deg, var(--color-light), rgba(255,255,255,0) 30%, rgba(255,255,255,0) 80%, var(--color-light)),
              center / cover no-repeat url('../images/home.jpg');
}

.home__header > h1 {
  max-width: 14ch;
  margin-bottom: var(--s-1);
}

.home__header > p {
  max-width: 24ch;
}

.home__intro {
  --vertical-padding: var(--s4);
  --grid-gutter: clamp(var(--s1), 8vw, 10rem);
  grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 20rem));
  min-height: 150vh;
}

.home__intro > :last-child {
  align-self: end;
}

.home__intro .clipped-image {
  aspect-ratio: 5 / 7;
}