.locations-wrapper {
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(min(22rem, 100%), 1fr));
}

.locations-wrapper p {
  max-width: 8ch;
}

.locations-wrapper .clipped-image {
  aspect-ratio: 5 / 6;
}

.well-wrapper {
  --vertical-padding: var(--s5);
  --cluster-gutter: var(--s2);
  padding-bottom: calc(var(--s4) * 2);
}

.well-wrapper figure {
  --stack-space: var(--s-1);
  width: min(21rem, 100%);
}

.quote-wrapper {
  min-width: min(var(--width-limit), 100% - var(--outer-padding) * 2);
}

.quote {
  max-width: 33ch;
  font-size: clamp(1.7rem, 4vw,2.75rem);
}

.quote-image {
  padding-bottom: var(--s-1);
}