<a href="#contentStart" class="skip-link">Vai al contenuto</a>
<nav class="center body-small">
  <ul class="navigation-list with-sidebar" data-align="center">
    <li class="logo">
      <a href="{{ '/' | url }}" {{ helpers.getLinkActiveState('/', page.url) | safe }}>{% include "partials/logo.svg" %}</a>
    </li>
    <div class="cluster" data-justify="end">
      {% for item in navigation.items %}
      <li class="uppercase">
        <a href="{{ item.url | url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>{{ item.name }}</a>
      </li>
      {% endfor %}
    </div>
  </ul>
</nav>